
.heading{
    border: 1px solid rgb(77, 76, 76);
    width: 30%;   
    border-radius: 3px;
    padding: 0 7px 4px 7px;
    text-align: center;
    margin-left: 2rem;
    background: #f8f9fa;
    color: rgb(77, 76, 76);

}
#textBox{
    border: 1px solid rgb(77, 76, 76);
    width: 30%;   
    margin-left: 2rem;
    padding: 4px 7px;
    border-radius: 3px;
    font-size: 15px;
}
.para{
    font-size: 1.5rem;
    margin-left: 2rem;

    border: 1px solid rgb(77, 76, 76);
    width: 50%;   
    border-radius: 3px;
    padding: 4px 7px;
    margin-left: 2rem;
}